%table{:style => "text-align: left", :cellpadding => "0", :cellspacing => "0"}
  %tr
    %th{:style => "padding: 10px;"} Album
    %th{:width => "200px", :style => "text-align: left; padding: 10px"} Nombre
    %th{:width => "100px"} Fecha
    %th{:style => "padding: 10px;"} Síntesis
    %th{:style => "padding: 10px;"} Audio

  -@estudios.each do |estudio|
    %tr{:style => cycle("background: #CCC;", "background: #FAFAFA;")}
      %td{:style => "padding: 10px;"}=estudio.album
      %td{:style => "padding: 10px;"}=estudio.nombre
      %td{:style => "padding: 10px;"}=estudio.fecha
      %td{:style => "padding: 10px;"}=estudio.sintesis
      %td{:style => "padding: 10px;"}
        %object#dewplayer{:data => "dewplayer-mini.swf", :height => "20", :name => "dewplayer", :type => "application/x-shockwave-flash", :width => "160"}
          %param{:name => "wmode", :value => "transparent"}/
          %param{:name => "movie", :value => "dewplayer-mini.swf"}/
          %param{:name => "flashvars", :value => "mp3=#{estudio.audio_url}"}/

        =link_to("Descargar", estudio.audio_url)
        =link_to("Editar", edit_estudio_url(estudio))
