config/development.sphinx.conf
*.DS_Store
tmp/sass-cache/
public/assets/
log/searchd.query.log
log/searchd.log
log/searchd.development.pid
log/newrelic_agent.log
log/development.log
db/sphinx
Gemfile.lock
tmp/pids/server.pid
log/
*~
