<!DOCTYPE html>
<html>
<head>
  <title>PalabraFiel</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 's3_upload.js' -%>

  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
